
@font-face {
  font-family: Pixel;
  /* Гарнитура шрифта */
  src: url(font/pixel.ttf);
  /* Путь к файлу со шрифтом */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tetris_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 900px;
  background-color: aquamarine;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.tetris_display {
  display: flex;
  margin-top: 50px;
  width: 500px;
  height: 600px;
  background-color: rgb(146, 146, 146);
  border-radius: 20px;
  border: 2px solid black;

}

.info {

  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startLogo {

  display: block;
  position: absolute;
  width: 500px;
  height: 600px;
  background-image: url(./images/logo.jpg);
  background-size: cover;
  background-color: rgb(146, 146, 146);
  border-radius: 20px;
}


.hiScore {
  font-family: Pixel;
  display: flex;
  width: 150px;
  height: 100px;
  font-size: 30px;
  margin-top: 30px;
}

.score {
  font-family: Pixel;
  display: flex;
  width: 150px;
  height: 100px;
  font-size: 30px;
  margin-top: 30px;
}

.lifes{font-family: Pixel;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 50px;
  font-size: 30px;
  margin-top: 30px;}

.trueno{
  width: 80px;
  
}

.life{display: flex;
  width: 100px;
  height: 50px;
}

.buttons_block {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  width: 400px;
  height: 130px;
  background-color: beige;
  border-radius: 20px;
  border: 2px solid black;

}

.buttons_direction {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: beige;
  border-radius: 20px;
  border: 2px solid black;

}

.left_button {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  font-family: Pixel;
  display: flex;

  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  width: 35px;
  height: 35px;
  background-color: rgb(89, 55, 209);
  border-radius: 20px;
  border: 2px solid rgb(89, 55, 209);
}

.left_button:hover,
.right_button:hover,
.buttons_realStart:hover,
.buttons_strike:hover {
  user-select: none;
  background-color: rgb(114, 101, 161);
}



.right_button {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  font-family: Pixel;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  width: 35px;
  height: 35px;
  background-color: rgb(89, 55, 209);
  border-radius: 20px;
  border: 2px solid rgb(89, 55, 209);

}

.buttons_strike {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  font-family: Pixel;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  width: 100px;
  height: 100px;
  background-color: rgb(89, 55, 209);
  border-radius: 100px;
  border: 2px solid black;
}
.buttons_realStart {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  font-family: Pixel;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  width: 80px;
  height: 80px;
  background-color: rgb(238, 132, 32);
  border-radius: 100px;
  border: 2px solid black;
}

.disable {
  display: none;
}
